  <form action="/CancelBooking" method="POST">
    <input type="hidden" name="homeId" value="<%= home._id %>">
    <input type="hidden" name="BookerId" value="<%= home.BookerId %>">
    <button type="submit"
      class="w-full m-1 px-6 py-3 bg-gradient-to-r from-blue-500 to-blue-600 hover:from-blue-600 hover:to-blue-700 text-white font-bold rounded-lg transition duration-300 shadow-md hover:shadow-lg">
      Cancel Reservation
    </button>
  </form>