    <form action="/favourites" method="post">
      <button type="submit" class="mt-6 p-1 w-auto bg-green-500 text-white py-2 sm:py-3 rounded-lg text-base sm:text-lg font-semibold hover:bg-green-800 transition duration-300">Add to Favourites</button>
      <input type="hidden" name="homeId" value="<%= home._id %>">
    </form>